In [1]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
print("Original List : ",my_list)
my_set = set(my_list)
my_new_list = list(my_set)
print("List of unique numbers : ",my_new_list)

Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
List of unique numbers :  [40, 10, 50, 20, 60, 30]

In [2]:
a=[1,2,3,4,5,2,3,4,1,5]
print(a)
b=set(a)
print(b)

[1, 2, 3, 4, 5, 2, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

In [8]:
a=[23,34,45,56,67,89]
print(a)
sum=0
for b in range(0,len(a)):
    sum=sum+a[b]
print("sum = ",sum)

[23, 34, 45, 56, 67, 89]
sum =  314

In [12]:
a=[23,34,45,56,67,89]
a.sort()
print("largest = ",a[-1])

largest =  89

In [14]:
a=[43,23,45,12,32,98]
a.sort()
print("smallest =",a[0])

smallest = 12

In [15]:
a=[43,23,45,12,32,98]
b=[]
if len(b)==0:
    print("empty list")
else:
    print("nonempty")

empty list

In [18]:
a=[43,23,45,12,32,98]
b=a.copy()
print(b)

[43, 23, 45, 12, 32, 98]

In [20]:
a=[43,23,45,12,32,98]
print("index of 12 = ",a.index(12))
print("index of 98 = ",a.index(98))

index of 12 =  3
index of 98 =  5

In [23]:
a=[43,23,45,12,32,98]
b=[1,2,3,4]
b.append(a)
print(b) in

[1, 2, 3, 4, [43, 23, 45, 12, 32, 98]]

In [24]:
a=[43,23,45,12,32,98]
b=[32,23,12,56,54,65]
c=set(a)
d=set(b)
if(c&d):
    print(c&d)

{32, 12, 23}

In [33]:
a=[43,23,45,12,32,98]
for i in a:
    if(i%2!=0):
        print(i)

43
23
45

In [34]:
a=[43,23,45,12,32,98]
b=[1,2,3,4]
print(a+b)

[43, 23, 45, 12, 32, 98, 1, 2, 3, 4]

In [36]:
str="abc de fg"
li=str.split()
print(li)

['abc', 'de', 'fg']

In [38]:
a=[43,23,45,12,32,98]
b=[1,2,3,4,5]
a.extend(b)
print(a)

[43, 23, 45, 12, 32, 98, 1, 2, 3, 4, 5]